<div ng-controller="loginCtrl as lCtrl" layout="column" layout-padding="layout-padding"layout-align="center center" layout-fill="layout-fill">
  <div class="loginBox md-whiteframe-z1" layout="column" style="width:30%;">
    <md-toolbar class="login-header">
      <h2 class="md-toolbar-tools"><span>Login</span></h2>
    </md-toolbar>
    <md-content class="md-padding" layout="column">
      <md-input-container>
        <label>User Name</label>
        <input type="text" name="uname" ng-model="lCtrl.formData.loginName"  required="required"/>
        <div ng-messages="Form.email.$error" role="alert" multiple="">
          <div ng-message="required" class="my-message">Please enter your user name.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" name="password" ng-model="lCtrl.formData.password"  required="required" md-maxlength="16"/>
        <div ng-messages="Form.password.$error" role="alert" multiple="">
          <div ng-message="required" class="my-message">Please enter your password.</div>
        </div>
      </md-input-container>
      <div layout="row" layout-align="center center" style="padding-top:20px">
        <md-button ng-click="lCtrl.onLogin();" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
        <div flex="flex"></div>
      </div>
    </md-content>
  </div>
</div>