<div ng-controller="homeCtrl as hCtrl" ng-init="hCtrl.init();" layout="column" layout-fill>
    <div layout-padding layout="row" layout-align="center">
        <div flex-gt-md="60" flex-md="80" flex-xs="100">
        
        	<!-- Search bar -->	
            <div layout-gt-xs="row" layout-xs="column" layout-align="stretch center">
                <div layout="row" layout-align="start center">
                    <md-input-container md-no-float md-is-error="false" class="md-block">
                        <input ng-model="name"
                               class="md-input"
                               ng-change="gridActions.filter()"
                               id="order"
                               placeholder="Search by Name"
                               filter-by="name"
                               filter-type="text"
                               aria-invalid="false">
                    </md-input-container>
                </div>
            </div>
            <div grid-data id='test' grid-options="hCtrl.gridOptions" grid-actions="gridActions">
            	
            	<!-- header pagination bar -->
                <div layout-gt-sm="row" layout-sm="column">
                    <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                        <span><span ng-bind="filtered.length"></span> items total</span>
                    </div>
                    <div flex-gt-sm="75" flex-xs="100">
                        <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                            <grid-pagination max-size="5"
                                             boundary-links="true"
                                             class="pagination mdl-shadow--2dp"
                                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                             total-items="paginationOptions.totalItems"
                                             ng-model="paginationOptions.currentPage"
                                             ng-change="reloadGrid()"
                                             items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                            <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                    <md-option ng-value="10">10</md-option>
                                    <md-option ng-value="25">25</md-option>
                                    <md-option ng-value="50">50</md-option>
                                    <md-option ng-value="75">75</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                
                <!-- table content -->
                <div>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th sortable="name" class="sortable mdl-data-table__cell--non-numeric">
                                <span>Name</span>
                                <!-- <span class="arrow"></span> -->
                            </th>
                            <th sortable="type" class="sortable mdl-data-table__cell--non-numeric">
                                <span>Type</span>
                                <!-- <span class="arrow"></span> -->
                            </th>
                              <th sortable="dcDate" class="sortable">
                                <span>Date</span>
                                <!-- <span class="arrow"></span> -->
                            </th>
                            <!-- <th sortable="mandantID" class="sortable">
                                <span>Mandant ID</span>
                                <span class="arrow"></span>
                            </th>
                            <th sortable="contactID" class="sortable">
                                <span>Contact ID</span>
                                <span class="arrow"></span>
                            </th>
                            <th sortable='type' class="sortable">
                                <span>Type</span>
                                <span class="arrow"></span>
                            </th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr grid-item  ng-click="hCtrl.setSelectedData(item)">
                            <td class="mdl-data-table__cell--non-numeric" ng-bind="item.name"></td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span ng-bind="item.type"></span>
                            </td>
                            <td ng-bind="item.dcDate | date:'MM/dd/yyyy'"></td>
                            <!-- <td ng-bind="item.mandantID"></td>
                            <td ng-bind="item.contactID"></td>
                            <td ng-bind="item.type"></td> -->
                        </tr>
                        </tbody>
                    </table>
                </div>
                
                <!-- footer pagination bar -->
                <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                    <grid-pagination max-size="5"
                                     boundary-links="true"
                                     class="pagination"
                                     ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                     total-items="paginationOptions.totalItems"
                                     ng-model="paginationOptions.currentPage"
                                     ng-change="reloadGrid()"
                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                    <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                        <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                            <md-option ng-value="10">10</md-option>
                            <md-option ng-value="25">25</md-option>
                            <md-option ng-value="50">50</md-option>
                            <md-option ng-value="75">75</md-option>
                        </md-select>
                    </md-input-container>
                </div> 
            
            </div>
            <hr>
            <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
		      <md-button class="md-raised md-primary md-fab-top-right" ng-click="hCtrl.callShowDC(item)">Show DC</md-button>
		    </section>
		    <br>
        </div>
    </div>
    <img ng-src="media/photos/P-1.jpg" ng-show="hCtrl.isShowImg == 1" id="imgp1" class="overlay-img" ng-click="hCtrl.switchImg('imgP1','imgp2');">
    <img ng-src="media/photos/P-2.jpg" ng-show="hCtrl.isShowImg == 2" id="imgp2" class="overlay-img" ng-click="hCtrl.switchImg('imgp2','imgas1');">
    <img ng-src="media/photos/AS-1.jpg" ng-show="hCtrl.isShowImg == 3" id="imgas1" class="overlay-img" ng-click="hCtrl.switchImg('imgas1','imgas2');">
    <img ng-src="media/photos/AS-2.jpg" ng-show="hCtrl.isShowImg == 4" id="imgas2" class="overlay-img" ng-click="hCtrl.callTestCtrl();">
</div>

